.error404 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100vh;
  & h2 {
    color: orangered;
  }
  & h3 {
    font-size: 3rem;
    font-weight: 700;
    text-transform: uppercase;
    & a {
      color: #04c2c9;
      font-size: 3rem;
    }
  }
}